@import 'languages';

/*************************
         ELEMENTS
*************************/
body {
  background-color: #f8f6f7 !important;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Light", "Frutiger", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  height: 100%;
}
html {
  padding: 0;
  margin: 0;
  height: 100%;
}
h1 {
  font-weight: 700 ;
  color: #a49bf3 ;
  text-shadow: 2px 1px 1px rgba(0,0,0,0.1);
}

h2 {
  margin: 0 ;
  margin-bottom: 10px ;
  font-weight: 600 ;
  color: #ada4ff ;
}
h3 {
  margin: 0 ;
  margin-bottom: 5px ;
}
h4 {
  margin: 0 ;
  margin-bottom: 5px ;
}
.container {
  border: 2px solid #e8eaea;
  border-radius: 10px;
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 5px 2px 10px rgba(0,0,0,0.05);
}
.rewrite-result {
  border-radius: 5px;
  background-color: #f1f1ff;
  border: 1px solid #dbd8f6;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}
.App {
  text-align: center;
}

.App-title {
   font-size: 1.5em;
 }
.flex-1 {
  flex: 1;
}
.check-box {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  border: 2px solid lightgray;
  margin: 5px 10px;
}
.rewriter-container {
  min-height: 300px;
}
.footer {
  height: 20px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: darkgray;
  color: white;
  box-shadow: 0 -10px 18px rgba(0,0,0,0.1);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.btn_rewrite {
  font-size: 30px;
  box-shadow: 5px 2px 10px rgba(0,0,0,0.1);
  font-weight: 800;
}
